*.exe
*.s
*.autosave
bin/
*.vcxproj
*.vcxproj.filters
*.sln
*.user
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
examples
*.cmake
html/
build/
.vscode
/src/.cproject
/src/.project
/.gitignore